div.main-body {
	display: grid;
	grid-template-columns: minmax(300px, auto)1fr;
	grid-template-areas: "navbar mainContent";
	grid-gap: 20px;
}

.tabs-content {
	display: none;
}

ul.tabs {
	list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

a:not([aria-selected="true"]) {
	opacity: 0.5;
}


/*
nav#navbar {
	grid-area: navbar;
	position: fixed;
}

nav#navbar a {
	display: block;
	border: 1px solid black;
	padding: 5px;
	margin: 10px 0;
	text-decoration: none;
	color: black;
}
*/

/* Apply styles to the navigation bar */
#navbar {
	background-color: #ffffff; /* Set the background color of the navigation bar */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0; /* Add some padding to space the buttons */
  }
  
  /* Style for each navigation link */
  .nav-link {
	display: block;
	width: 184px; /* Set the width of the button */
	height: 184px; /* Set the height of the button */
	background-color: rgb(255, 255, 255); /* Set the background color of the button */
	color: white; /* Set the text color */
	text-align: center;
	line-height: 40px; /* Center the text vertically */
	margin: 5px 0; /* Add some margin to space the buttons */
	border-radius: 0px; /* Add rounded corners */
	text-decoration: none; /* Remove underline for links */
  }
  
  /* Style for the header */

  
main#main-doc {
	grid-area: mainContent;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
}

#content {
    width: 75%;
    padding: 20px;
    overflow: auto;
  }

code {
	background-color: #CCC;
	display: block;
	padding: 20px;
};
